@import url(../variables.css); 
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
  color: white;
  font-family: "Jersey 15";
}

body{
  position: relative;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row; 
  padding: 0px 20px 0px 0px;

  min-height: 100vh;
  /* overflow: hidden;  */
}

main {
  /* background: lightgreen;  */
  flex: 1.2; 

  display: flex; 
  flex-direction: column; 
}

header{
  /* background-color: lightblue;  */
  padding: 8px; 

  div{
    background-color: rgba(82, 82, 82, 0.25); 
    display: inline-block;
    padding: 10px 35px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.57);
  }

   div:hover{
      background-color: rgba(82, 82, 82, 0.50); 
    }


  h2{
    font-size: 30px;
    font-weight: 400;

  }
}

.hero-section{
  /* background-color: brown;  */
  /* flex: 1; */
  height: 500px;
  padding: 100px 20px 20px 20px;
  flex-shrink: 0;

  display: flex; 
  justify-content: center;

  div {
    /* background-color: rgb(29, 156, 114); */
    flex: 1;  

    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 0px;

    h1{
      -webkit-text-stroke: 2px rgb(0, 17, 255);
      font-weight: 500;
      font-size: 150px;
      letter-spacing: 2px;
      text-shadow: 0px 12px 10px rgb(0, 0, 0);
      animation: heroStrokeAnimation 3s infinite linear;

    }

    p{
      font-size: 18px;
      padding-bottom: 5px;
      text-shadow: 0px 5px 5px rgb(0, 0, 0);

    }
  }
}

@keyframes heroStrokeAnimation {

  0%{
      -webkit-text-stroke: 3px rgb(0, 17, 255);
  }

  25%{
      -webkit-text-stroke: 3px rgb(0, 255, 106);
  }

  50%{
      -webkit-text-stroke: 3px rgb(255, 0, 212);
  }

  100%{
      -webkit-text-stroke: 3px rgb(0, 17, 255);
  }
}

.wantList-section{
  /* background-color: rgb(52, 42, 165);  */
  flex: 1;
  
  height: 600px;
  display: flex;
  justify-content: center; 
  align-items: start; 

  padding: 0px 0px;
}


.wantList-container{
  background-color: rgba(51, 57, 76, 18%);
  /* flex: 1; */
  width: 500px;
  /* height: 95%; */
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content:start;

  /* box-shadow: 0px 5px 2px -2px rgba(255, 0, 0, 0.349); */
}


.wantList-title{
  /* background-color: rgb(0, 204, 255); */
  /* flex: 1;  */
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 20px 15px 60px 15px;


  div{
    display: inline-block; 
    background-color: rgba(100, 95, 95, 0.5); 
    padding: 12px 30px;
  }

  h2{
    text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.815);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  p{
    text-align: center;
    text-shadow: 0px 7px 6px rgb(0, 0, 0);

  }
}

.wantList {
    /* flex: 5; */
    /* background-color: rgb(216, 94, 94); */
    padding: 0px 20px;

    height: 550px;


    overflow-y: auto;


    display: flex;
    flex-direction: column; 
    gap: 60px;
}

.wantList-games{
  position: relative;
  height: 200px;
  background-color: rgba(99, 99, 99, 0.151); 
  flex-shrink: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);

  img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }

  
.img-overlay{
    position: absolute; 
    top: 0; 
    left: 0; 
    /* background-color: rgba(35, 35, 51, 0.088); */
    width: 100%; 
    height: 100%;
    z-index: 2;
  }

  .img-overlay:hover{
    /* background-color: rgba(35, 35, 51, 0.262); */
    background-color: rgba(9, 9, 9, 0.43);


  }
}



.wantList::-webkit-scrollbar {
  width: 15px;
}


.wantList::-webkit-scrollbar-track {
    background: transparent;
  /* background: #302727; */

}

.wantList::-webkit-scrollbar-thumb{
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.342); 
  border-radius: 10px;
  background-clip: content-box;
}



.games-container {
  /* background-color: lightpink;  */
  flex:1;
  height: clamp(1000px, 160vh, 1300px);
  padding: 0px 10px 10px 10px; 
  margin-top: 15px;

  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 40px;

  overflow-y: auto; 
}


.games-container::-webkit-scrollbar{
  width: 15px;
}

.games-container::-webkit-scrollbar-track{
  background: transparent;
}

.games-container::-webkit-scrollbar-thumb{
  border: 3px solid rgba(255, 255, 255, 0.308); 
  border-radius: 10px;
  background-clip: content-box;

  
}

.game {
  position: relative; 
  /* flex: 1; */
  height: clamp(300px, 50vh, 600px);
  width: clamp(300px, 40vw, 1000px);
  flex-shrink: 0;
  background-color: var(--nav-bg-color);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);

  /* box-shadow: 0px 5px 2px -2px rgba(255, 0, 0, 0.349); */

  img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }

  
.img-overlay{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 2;
  }

  .img-overlay:hover{
    /* background-color: rgba(35, 35, 51, 0.262); */
    background-color: rgba(9, 9, 9, 0.43);


  }
}


.modal{
  display: none;
  background-color: rgba(0, 0, 0, 0.795); 
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100vh; 
  width: 100vw;
  z-index: 1000;
  backdrop-filter: blur(2px);

}


.modal.show{
  display: block;


  display: flex;
  justify-content: center; 
  align-items: center; 
}

.modal-box{
  position: relative;
  background-color: rgb(34, 33, 33); 
  border: 10px solid rgba(0, 110, 255, 0.76);

  width: 30%; 
  height: 30%; 
  padding: 10px;

  display: flex;
  justify-content: center; 
  align-items: center; 

  h2{
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
  }
}

.close-btn{
  position: absolute;
  color: black;
  padding: 5px;
  font-size: 20px;
  top: 10px; 
  right: 10px;
}