@import url(../variables.css);

*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
}

body{
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

header{
  /* background-color: yellow; */
  padding: 15px 20px 10px 20px;

  ul{
    list-style: none;


   a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 20px;
    /* border: 1px solid var(--main-border-color); */
    background-color: var(--goals-div-bg-color);
  }
  }

 
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  /* background-color: green; */
}

.goals-title{
  /* background-color: brown; */
  margin-top: auto;
  text-align: center;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  h1{
  font-size: 60px;
  color: white;
  padding: 13px 40px;
  /* border: 1px solid var(--goals-border-color); */
  background-color: rgba(35, 35, 51, 0.318);
  /* border-radius: 25px; */

  /* x | y |blur-radius | spread-radius | color  */
  box-shadow: 0px 10px 15px 3px rgba(0, 217, 255, 0.57), 0px -10px 15px 5px rgba(255, 0, 230, 0.493);

  /* animation: name |  duration | timing-function | delay |  iteration-count | direction fill-mode; */
  animation-name: boxShadowAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-direction: alternate;

  }
}

@keyframes boxShadowAnimation {

  0% {
  box-shadow: 0px 10px 7px 2px rgba(0, 217, 255, 0.57), 0px -10px 7px 2px rgba(255, 0, 230, 0.493);
  }

  25%{
  box-shadow: 0px 10px 7px 2px rgba(255, 0, 55, 0.493), 0px -10px 7px 2px  rgba(0, 217, 255, 0.57);
  }

  50%{
  box-shadow: 0px 10px 7px 2px rgba(0, 217, 255, 0.57), 0px -10px 7px 2px rgba(255, 72, 0, 0.493);
  }

  75%{
  box-shadow: 0px 10px 7px 2px rgba(0, 255, 115, 0.493), 0px -10px 7px 2px rgba(0, 217, 255, 0.57);
  }

  100%{
  box-shadow: 0px 10px 7px 2px rgba(0, 217, 255, 0.57), 0px -10px 7px 2px rgba(0, 255, 115, 0.493);
  }




}

.goals-container {
  /* background-color: blueviolet; */
  padding: 50px;
  flex: 1;

  display: grid; 
  grid-template-columns: repeat(4, 1fr); 

  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  gap: 100px;
}

.goals-row {
  background-color: var(--goals-div-bg-color);
  padding: 0px 100px;
  min-height: 230px; 

  display: flex; 
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 0px 0px rgba(255, 0, 0, 0.459);

   p{
    font-size: 20px;
    color: white;
   }

  /* animation: goalsAnimation 10s infinite linear alternate */

}

/* @keyframes goalsAnimation {

  0%{
  box-shadow: 0px 15px 15px -10px rgba(0, 217, 255, 0.57);
  }

  100%{
  box-shadow: 0px 15px 15px -10px rgba(255, 72, 0, 0.493);
  }

  
} */

.openBtn-div{
  background-color: rgba(255, 255, 0, 0.432);

  cursor: pointer; 
}

/* !Modal */




/* background */
.modal-overlay {
  display: none; 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%;
  height: 100%;
  background: rgba(248, 41, 41, 0.5);

}

/* show the modal */

.modal-overlay.show{
  display: block; 
}


/* Modal box */

.modal-box{
  background: white; 
  width: 90%; 
  max-width: 400px; 
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px; 
  position: relative; 
}

/* close btn */

.modal-close {
  position: absolute; 
  right: 12px; 
  top: 8px; 
  font-size: 24px; 
  border: none; 
  background: none; 
  cursor: pointer; 
}
