  @import url('variables.css');
  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gajraj+One&family=Holtwood+One+SC&display=swap');

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  color: white; 
}

a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}



body{
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-rows: auto; 
  gap: 2rem;
  padding: 2rem 1rem; 
}

header{
  /* background-color: lightcoral; */
  grid-row: 1; 
  
  display: flex;
  flex-direction: column;
  place-items: center;
  /* justify-content: space-between; */

  div{
    /* background-color: yellow; */
    background-color: var(--nav-bg-color);
    padding: 25px 40px;
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);
    display: inline-block;

    h1{
      text-align: center; 
      font-size: clamp(2.81rem, 2.48rem + 1.41vw, 3.75rem);
      font-family: "Holtwood One SC", serif;
    }
  }

  div:nth-of-type(2){
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    /* width: 50%; */
  }

  
    p{
      padding: 10px 0px 0px 0px;
      text-align: right;
      font-family: "Cedarville Cursive", cursive;
      font-size: 24px;
    }
}


main {
  /* background-color: green; */
  display: flex; 
}

.nav-container{
  /* background-color: lightblue;  */
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 40px;
  overflow-y: auto;

  div{
    /* flex: 1; */
    height: 150px;
    flex-shrink: 0;
    background-color: rgba(149, 140, 119, 0.326);

    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 8px solid black;
  
    h2{
      font-size: 45px;
      font-family: "Gajraj One", sans-serif;
      letter-spacing: 1px;
      font-weight: 400;
      text-shadow: 
      8px 8px 4px black;
      /* -4px 4px 0px black */
    
    }

  }
  div:hover{
    /* background-color: black; */


    h2{
     font-size: 50px;
     text-shadow: 10px 10px 12px black;
    }
  }
}

.nav-container::-webkit-scrollbar {
  width: 10px;
  background: transparent; 
}
.nav-container::-webkit-scrollbar-thumb{
  background: rgba(80, 85, 87, 0.603);
  border: 3px solid transparent;

}


@media (min-width: 80rem){

  body{
    grid-template-columns: 1fr 1fr; 
    height: 100vh;
    overflow: hidden; 
  }

  header{
    grid-column: 2 / -1; 

    display: flex;
    justify-content: center; 
    align-items: center; 


    div:nth-of-type(2){
      width: 50%; 
    }

  }

  main{
    grid-column: 1 / 2;
    min-height: 0;
  }

  .nav-container {
    padding: 0px 60px 40px 60px; 
  }
}