@import url(../variables.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Limelight&family=Londrina+Solid:wght@100;300;400;900&family=Monoton&display=swap');
*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  color: white; 
}


body{
  background-color: white;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

p{
  font-family: "Inter";
  font-weight: 200;
}

.hero-section{
  position: relative;
  height: 520px;
  background-color: rgba(223, 182, 178, 0.818);
  /* padding: 10px; */

  display: flex; 


  header{
    position: absolute; 
    /* background-color: rgba(173, 216, 230, 0.699); */
    width: 100%;
    top: 0;
    left: 0; 
    padding: 10px;
    z-index: 1000;

    div{
      background-color: rgba(82, 82, 82, 0.25); 
      display: inline-block;
      padding: 10px 35px;
      box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.57);
    }
    
    div:hover{
        background-color: rgba(82, 82, 82, 0.50); 
      }

    h2{
      font-weight: 700;
      font-size: 24px;
    }
  }
}


.video-container{
  position: relative;
  /* background-color: lightpink;  */
  height: 100%;
  width: 100%; 
  display: block;

  video{
    width: 100%; 
    height: 100%;
    object-fit:cover;
    object-position: 0% 70%;
  }
}

.video-overlay{
  position: absolute; 
  height: 100%; 
  width: 100%;
  top: 0; 
  left: 0; 
  background-color: rgba(0, 0, 0, 0.363); 

  display: flex;
  justify-content: center; 
  align-items: center;

  div{
    height: 350px; 
    width: 650px; 
    /* background-color: purple; */

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

    h1{
      font-family: "Monoton";
      font-weight: 400;
      font-size: 110px;
      letter-spacing: 10px;
    }

    p{
      font-family: "Limelight";
      font-size: 20px;
      margin-top: -25px;
      padding-left: 200px;
    }
  }
}




main {
  /* background-color: rgba(223, 182, 178, 0.70);  */
  /* background-color: rgba(223, 182, 178, 0.799);  */
    background-color: #FBF5DD;


  
  /* background-color: rgb(168, 168, 155); */

  padding: 80px 0px 0px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mini-hero{
  /* background-color: green; */

  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px 0px;
  

  div{
    /* background-color:  rgba(49, 31, 22, 90%); */
    background-color:  rgba(135, 133, 162, 0.829);
  /* background-color: rgb(107, 96, 114); */


    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgb(0, 0, 0);


    h3{
      font-size: 20px;  
      font-family: "Inter";
      font-weight: 500;
    }
  }
}


/*! Books Section  */

.books-section{
  /* background-color: #E7E1B1; */
  background-color: #BDD2B6;

  /* background-color: rgb(107, 96, 114); */

  padding: 20px;
  /* width: 100px; */
  flex: 1;
  min-height: 500px;

  display: flex; 
  flex-direction: column; 
  gap: 50px;
}

.reading-section{
  position: relative;
  /* background-color: rgb(61, 70, 70); */
  background-color: #798777;
  height: 420px;
  display: flex; 
  gap: 20px;
  padding: 20px 20px;
  box-shadow: 0px 9px 10px 0px rgb(253, 253, 253);

}


.book-content{
  position: relative;
  /* background-color: rgb(199, 76, 76); */
  background-color: rgba(107, 96, 114, 0);

  width: 55%;
  padding: 10px 10px 15px 10px;
  display: flex; 
  flex-direction: column; 
  gap: 10px;
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);


  overflow: hidden;

}
.section-title{
  flex: 1;
  padding: 10px;

  display: flex; 
  align-items: center;

  h2{
   font-family: "Londrina Solid";
   font-weight: 500;
   letter-spacing: 2px;
  }
}

.book-shelf{
  position: relative;
  /* background-color: rgb(68, 89, 112); */
  /* background-color:  rgba(49, 31, 22, 0.733); */
    background-color: #FBF5DD;




  flex: 3;
  padding: 20px 20px 10px 20px;

  display: flex; 
  gap: 35px;
  

  overflow-x: auto;

  div{
    width:150px;
    /* padding: 15px; */
    /* background-color: skyblue; */
    flex-shrink: 0;
    box-shadow: -8px 5px 10px 0px rgba(0, 0, 0, 0.596);

    

  img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: 0% 0%; 
  }
 }
}

.book-shelf::-webkit-scrollbar{
  display: none;
}

.book-shelf-stand{
  /* background-color: rgb(168, 168, 155); */
  background-color: rgb(78, 72, 86);

  position: absolute; 
  border-radius: 20px;
  bottom: 25px;
  right: 15px;
  width: 96%; 
  height: 3.8%;
  box-shadow: 0px 4px 5px -2px rgb(255, 255, 255);

  /* border-radius: 10px; */
}

.book-info{
  display: none;
  /* background-color: rgba(78, 72, 86, 0); */
  background-color: rgba(44, 54, 57, 0.671);

  flex: 1;
  border-radius: 6px;
  box-shadow: 0px 4px 10px 0px rgb(0,0,0);
  padding: 30px;
}

.book-info.show{
  display: block; 

  display: flex; 
  gap: 10px;
}

.book-info-overlay{
  display: none;
  position: absolute;
  top: 0; 
  right: 0; 
  width: 45%; 
  height: 100%; 
  /* background-color: rgb(0, 0, 0); */

}

.book-info-overlay.show{

  display: block; 


  display: flex; 
  justify-content: center; 
  align-items: center; 

  h2{
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
  }
}



.author-info{
  /* background-color: white;  */
  flex:1;

  display: flex; 
  flex-direction: column; 
  gap: 10px;   
}

.author-name{
  /* background-color: rgb(35, 78, 80);  */
  padding: 10px;

  h2{
    text-align: center; 
    /* font-family: "Londrina Solid"; */
    font-family: "Inter";

    font-weight: 400;
    letter-spacing: 3px;
  }
}

.author-bio{
  /* background-color: rgb(35, 78, 80);  */
  flex: 1;
  padding: 10px;

  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  gap: 10px;

  p{
    font-size: 16px;
  }


  div{

    p{
      padding-bottom: 10px;
    }
  }
}


.author-picture{
  position: relative; 
  /* background-color: white;  */
  height: 100%;
  width: 45%;
  box-shadow: 0px 4px 10px 0px rgb(0,0,0);


  img{
   width: 100%; 
   height: 100%; 
   object-fit: cover;
   object-position: 50% 0%; 
 }
}

.author-picture-overlay{
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.048); 
  /* z-index: 2; */
}

