@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('../variables.css');  


*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
}

body{
  background-color: var(--main-bg-color);
  min-height: 100vh;
  /* padding: 20px; */
}

header{
  background-color: rgba(179, 179, 179, 15%);
  padding:10px 45px;

  display: inline-block;

  h2{
    font-family: var(--quotes-font-family);
    font-weight: 200;
    letter-spacing: 1px;
    color: white; 
  }

}

.hero-section{

  .hero-title{
    /* background-color: lightblue; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 160px 100px 140px 100px;

    .title{
      color: white;
      font-family: "Inter", sans-serif;
      font-weight: 100;
      font-size: 60px;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 20px;
    }

    .title::after {
      background-color: rgb(211, 209, 209);
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0; 

      width: 120%; 
      height: 8.5px; 

      border-radius: 20px;
    }

  }
}

.quotes-container {
   /* background-color: lightgreen; */
   padding: 10px 100px;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.quote-child {
  color: white; 
  font-family: var(--quotes-font-family);
  font-weight: 200;
  font-size: 20px;

  padding: 20px; 
  background-color: rgba(32, 32, 44, 100%);
  box-shadow: 0px 8px 10px rgba(254, 233, 231, 20%);

  display: flex;
  flex-direction: row;
  justify-content: center; 
}