@import url(../variables.css);

*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

body{
  background-color: var(--main-bg-color);

  display: flex; 
  flex-direction: column; 

  min-height: 100vh; 
}

header{ 
  background-color: green; 
  padding: 10px; 
  
  div{
   background-color: rgb(111, 0, 128); 
   display: inline-block; 
   padding: 10px; 
  }

  h2{
    color: white; 
  }
}

main{
  flex: 1;
  background-color: rgb(0, 45, 128); 

  display: flex; 
  flex-direction: column; 
  gap: 10px;
}
.schoolTitleContainer{
  background-color: rgb(0, 128, 126);
  min-height: 150px; 

  display: flex;
  align-items: end;

  div:nth-of-type(1){
    background-color: hotpink;
    flex: 2;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 0px 0px red;

    h1{
      color: white;
      font-size: 60px;
    }
  }

  div:nth-of-type(2){
    flex: 1;
  }
}

.schoolInfo{
  /* min-height: 500px; */
  background-color: rgb(128, 0, 117); 
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.schoolInfo-container{
  background-color: rgb(74, 74, 180); 
  height: 500px;
  padding: 10px 50px;
  flex: 1;
  display: flex;
  gap: 50px;
}

.semester-info, .highlight-info{
  background-color: lightgreen; 
  flex: 1;

  display: flex; 
  flex-direction: column;
  gap: 10px;
  padding: 10px; 
}

.title{
  background-color: lightblue; 
  padding: 10px;

  h1{
    color: white;
    text-align: center; 
  }
}

.content {
  background-color: teal;
  height: 350px;
  padding: 10px;


  overflow-y: auto; 

  display: flex;
  flex-direction: column; 
  gap: 20px;

  div{
    background-color: skyblue;
    height: 100px;
    flex-shrink: 0;
  }
}

/*! Highlight Section  */


.highlight-title{
  background-color: lightblue; 
  padding: 10px;

  h1{
    color: white;
    text-align: center; 
  }
}

.highlight-content {
  background-color: teal;
  height: 350px;
  padding: 10px;
  display: flex;

  div{
    background-color: skyblue;
    flex: 1;
  }
}









